*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://images.summitmedia-digital.com/esquiremagph/images/2019/03/13/WeWork_MAIN_Mar2019.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 15%;
}

body h1{
    color: sandybrown;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 10px;
    font-size: 40px;
    text-shadow: black;
}

.line{
    border: 2px solid rgb(177, 128, 54);
    border-radius: 5px;
}

table h4{
    color: rgb(212, 210, 200);
    text-align: left;
    padding: 0px 5px 0px 5px;
}

.input-field{
    border-radius: 20px;
    border: 1px solid lightcoral;
    padding: 5px;
    margin: 5px 0px 5px 0px;
    width: 100%;
    outline: none;
}

.button{
    border-radius: 20px;
    border: none;
    width: 40%;
    padding: 5px;
    color: black;
    font-weight: 700;
    background: linear-gradient(to right, rgb(231, 147, 38), rgb(223, 195, 73));
    font-size: 20px;
    outline: none;
    cursor: pointer;
    margin: 20px 0px 0px 0px;
}

.button:hover{
    color: black;
    background: linear-gradient(to left, rgb(206, 133, 38), rgb(223, 195, 73));
}

.form-box{
    border-radius: 20px;
    position: relative;
    margin: auto;
    background: linear-gradient(to right, rgb(126, 109, 109), rgb(112, 81, 41));
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: center;
    opacity: 1;
}
