body{
	background-image: url("https://brocku.ca/brock-news/wp-content/uploads/2018/03/CEFC-Commons-2-RS.jpg?x68208");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0;
}

div.menubar{
	background-color: black;
	overflow: hidden;
	position: sticky;
 	top: 0;
}

ul{
	list-style-type: none;
	margin: 0%;
	padding: 0%;
	display: inline;
}

li{
	display: inline;

}

.menubar a{
	float: right;
	color: white;
	text-decoration: none;
	margin: 7px;
	padding: 5px;
	
}

.menubar a:hover{
	color: red;
	background-color: white;
}

.top{
	margin: 0;
	box-sizing: content-box;
	width: 100%;
	height: 400px;
  	background-image: url("https://rapuzou.com/wp-content/uploads/2019/02/book-1936547_960_720.jpg");
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center;
  	background-attachment: fixed;
  	text-align: center;
	font-size: 70px;
	color: white;
	font-weight: bold;
	padding-top: 15%; 
	
}

div.textbox1{
	background-color: white;
	box-sizing: content-box;
	height: 650px;
	text-align: center;
	font-size: 30px;
	color:black;
	font-weight: bold;
	border: white double 8px;
	max-width: 600px;
  	margin: auto;
  	margin-top:50px;
  	opacity:0.75;
  	font-family:Comic Sans MS;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
 }
div.textbox2{
	margin-top: 70px;
	box-sizing: content-box;
	background-image: url(https://cpb-ap-se2.wpmucdn.com/blogs.auckland.ac.nz/dist/0/119/files/2017/10/IMG_1188-19x5akd-1080x675.jpg);
	background-size: cover; 
	max-width: 100%;
	height: 900px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

div.textbox2{
	background-size: cover;
	box-sizing: content-box;
	background-position:center;
	background-image: url('https://media.giphy.com/media/BHNfhgU63qrks/giphy.gif');
	height: 100%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	background-repeat:no-repeat;
  	background-position: center;
}

#txt2{
	margin-top: 100px;
	box-sizing: content-box;
	width: 700px;
	height: 500px;
	background-color:white;
	opacity: 0.89;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	margin-right: 50px;

}

#txt3{
	margin-top: 100px;
	box-sizing: content-box;
	width: 700px;
	height: 500px;
	margin-left: 50px;
}

#already{
	font-size: 50px;
	color: white;
	font-weight: bold;
	text-align: center;
}

#already2{
	font-size: 40px;
	color: white;
	font-weight: bold;
	text-align:center;
}

#login_in_home{
	text-align:center;
	font-size: 40px;
	font-weight: bolder;
	text-decoration: none;
	color: white;
	border-radius: 15px;
	border:white solid 3px;
	padding: 5%;
	background-color: black;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75)
}

#login_in_home:hover{
	color: red;
	background-color: white;

}
