*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://images.unsplash.com/photo-1556761175-5973dc0f32e7?ixlib=rb-1.2.1&auto=format&fit=crop&w=1490&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 15%;
}

body h1{
    color: sandybrown;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 10px;
    font-size: 40px;
    text-shadow: black;
}

.text{
    padding: 0px 0px 0px 40px;
}

.input-field{
    border-radius: 20px;
    border: 1px solid lightcoral;
    padding: 5px;
    margin: 5px 0px 5px 60px;
    width: 100%;
    outline: none;
}

.button{
    border-radius: 20px;
    border: none;
    width: 50%;
    padding: 5px;
    color: black;
    font-weight: 700;
    background: linear-gradient(to right, rgb(231, 147, 38), rgb(223, 195, 73));
    font-size: 20px;
    outline: none;
    cursor: pointer;
    margin: 20px 0px 0px 0px;
}

.button:hover{
    color: black;
    background: linear-gradient(to left, rgb(206, 133, 38), rgb(223, 195, 73));
}

.form-box{
    border-radius: 20px;
    position: relative;
    margin: auto;
    background-image: url("https://ejudge.it.kmitl.ac.th/uploads/1511415077_gangnam-style-lift-scene-o.gif");
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: center;
    opacity: 1;
}
