*{
  font-family: "Open sans", sans-serif;
}

/********************************************Profile section use to style profile*************************************************/
.background {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://lh3.googleusercontent.com/TqQHALQAdiCwlF7btDlUwwsVrSrtoGgJiybsW3OMJWFZc-_02E-NdTzesZMuGP-E3cB3y-wU=w1080-h608-p-no-v0");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container {
  border-radius: 20px;
  margin: 20px 0px 20px 0px;
  padding: 15px;
  background-color: #c0c0c0;
}

.header {
  text-align: center;
  color: dimgrey;
  font-size: 50px;
  text-shadow: 2px 2px 4px #000000;
}

.second-header {
  margin: 22.75px 0px 0px 0px;
  text-align: center;

}

.line {
  border: #3c4247 2.5px solid;
}

.userimage {
 max-width: 75%;
  border-radius: 50%;
  border: black 1px solid;
  transition: transform 0.5s;
}

.userimage:hover {
  transform: scale(1.2);
}
