
/*================head section===============*/
.head{
	font-size: 70px; font-weight: bolder; text-align: center; color: white; margin-top: 20%;margin-bottom: 0px;
	font-family: Comic Sans MS;
}
/*================Nav bar section===============*/
nav.navbar-expand-sm {
	position: sticky;
	overflow: hidden;
}

/*================profile cards section===============*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,400');

body{
	background-image: url(https://images.unsplash.com/photo-1481151500463-1fa2dd2d5dbe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1812&q=80);
	font-family: 'Open Sans', sans-serif;
	background-size: cover;
}
#container-cards{
	position: absolute;
	width: 100%;
	height: 100%;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.container-card{
	position: relative;
	margin: 20px 10px;
}
.card{
	position: relative;
	width: 300px;
	height: 400px;
	border-radius: 10px;
	box-shadow: 0 -5px 7px rgba(0,0,0,.1);
	overflow: hidden;
	background-color: #fff;
}
.image-box{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 2;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out

}
.image-box img{
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out
}

.social-icons{
	z-index: 3;
	display: flex;
	margin: 0;
	padding: 0;

	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);

}
.social-icons li{
	list-style: none;
}
.social-icons li a{

	position: relative;
	display: block;
	background-color: white;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 30px;
	padding: 5px;
	margin: 0 5px;
	color: #262626;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	opacity: 0;

	left: 150%;
	-ms-transform: translate(-50%);
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
	-ms-transform: translateY(160px);
	-webkit-transform: translateY(160px);
	transform: translateY(160px);
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out
}
.social-icons li a .fa{
	transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out
}
.social-icons li a:hover .fa{
	transform: rotateX(360deg);
}
/*==card detail section==*/
.card-details{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 15px;
}
.card-details h1{
	font-size: 20px;
	font-weight: 700;
	color: #464646;
}
.card-details h1 span{
	font-size: 14px;
	font-weight: 400;
	color: red;
}
/*==card decoration section==*/
.card:hover .image-box img{
	opacity: 0.2;
}
.card:hover .image-box{
	top: -75px;
}
.card:hover .social-icons li a{
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}

.card:hover .social-icons li:nth-child(1) a{
	transition-delay: 0s;
}
.card:hover .social-icons li:nth-child(2) a{
	transition-delay: 0.1s;
}
.card:hover .social-icons li:nth-child(3) a{
	transition-delay: 0.2s;
}
.card:hover .social-icons li:nth-child(4) a{
	transition-delay: 0.3s;
}
.card:hover .social-icons li:nth-child(5) a{
	transition-delay: 0.4s;
}