*{
  font-family: "Open sans", sans-serif;
}

/********************************************Profile section use to style profile*************************************************/
.background {
  background-color: #51595a;
}

.container {
  border-radius: 20px;
  margin: 20px 0px 0px 0px;
  padding: 15px;
  background-color: #c0c0c0;
}

.header {
  text-align: center;
  color: dimgrey;
  font-size: 50px;
  text-shadow: 2px 2px 4px #000000;
}

.second-header {
  margin: 22.75px 0px 0px 0px;
  text-align: center;

}

.line {
  border: #3c4247 2.5px solid;
}

.userimage {
 max-width: 75%;
  border-radius: 50%;
  border: black 1px solid;
  transition: transform 0.5s;
}

.userimage:hover {
  transform: scale(1.2);
}
