*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../image/bgimage.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box{
    border-radius: 20px;
    height: 500px;
    width: 400px;
    position: relative;
    margin: 7% auto;
    background: seashell;
    padding: 10px;
    text-align: center;
}

.form-box th{
    color: #990033;
    margin-bottom: 10px;
    font-size: 30px;
}

.input-field{
    border-radius: 20px;
    border: 1px solid lightcoral;
    padding: 5px;
    margin: 0px 35px 0px 0px;
    width: 80%;
    outline: none;
}

.gender-box{
    margin: 10px 0px 0px 0px;
}

.button1{
    border-radius: 20px;
    width: 60%;
    padding: 5px;
    color: wheat;
    background-color: grey;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 10px 0px 0px 0px;
}


.button2{
    border-radius: 20px;
    width: 60%;
    padding: 5px;
    color: #000000;
    background-color: sandybrown;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 10px 0px 0px 0px;
}
