*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
    box-sizing: content-box;
    width: 100%;
    height: 400px;
    background-image: url("../image/bgimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    font-size: 70px;
    color: white;
    font-weight: bold;
    padding-top: 15%;
}

.input-field{
    border-radius: 20px;
    border: 1px solid lightcoral;
    padding: 5px;
    margin: 0px 35px 0px 0px;
    width: 80%;
    outline: none;
}

.button{
    border-radius: 20px;
    width: 10%;
    padding: 5px;
    color: black;
    background-color: tomato;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    margin: 10px 0px 0px 0px;
}

.form-box{
    border-radius: 20px;
    height: 100px;
    width: 400px;
    position: relative;
    margin: auto;
    background-color: seashell;
    padding: 10px;
    text-align: center;
}